.menu-principal {
    background-color: #000000;
    height: 75px;
}

html {
    background-color: #171717;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

ul{
    padding: 0px !important;
}

.main{
    width: 980px;
}

.logo{
    float: left;
    padding: 16px;
    width: 60%;
}
.redes-sociais ul li{
    display: flex;
    float: left;
    list-style: none;
    gap: 20px;
    margin: 10px 10px;
}
.redes-sociais{
    width: 20%;
    float: right;
}

/* link que ainda não foi visitado */
a:link {
    color: cornsilk;
 }
 
 /* link que foi visitado */
 a:visited {
     color: rgb(174, 181, 174);
 }
 
 /* mouse over */
 a:hover {
     color: #000000;
 }
 
 /* link selecionado */
 a:active {
     color: blue;
 }

.header2{
   
    width: 900px;
    margin:0 auto;
    padding: 2px;
    

}

.col-100 {
    width: 80%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    padding: 3px;
    text-transform: uppercase;
}

.menu-urls{
    height: 0px;
    border-bottom: 0px solid cornsilk;
} 

 .menu ul li{
    display: inline-block;
    color: antiquewhite;
    margin-left: 0px;
    text-transform: uppercase;
 }


.menu ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    
}
.menu{
    width: 70%;
    float: left;
}
 
.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.navbar form {
    width: 300px;
  }
  
  .form-control {
    width: 200px;
  }

#carouselExampleIndicators {
    padding-bottom: 3vh;
}

.photo-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 1.5vw;
}

#photo {
    width: 750%;
}

.photo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding: 5vh;
    color:aliceblue;
}

.melhores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#melhores {
    text-align: center;
}

.hashtags {
    color: #b43535;
    text-align: center;
    padding: 20px;
    background-color: rgba(44, 41, 40, 0.795);
    margin: 5vh;
    font-size: 12px;
}

#footer {
    text-align: center;
    font-size: 3rem;
}
.btnbtn btn-primary{
    background-color: #d33154d7; /* Cor de fundo personalizada */
    color: rgb(45, 21, 21); /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remover sublinhado */
}

.header2 .menu ul li a.btn:hover {
    background-color: #dbdfe2; /* Cor ao passar o mouse */
}
/* Personalizar o botão de login */
.btn.btn-primary {
    background-color: #efeeefd7; /* Cor de fundo personalizada */
    color: rgb(45, 21, 21); /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remover sublinhado */
    border: none; /* Remove a borda para evitar o fundo azul */
}